{% extends 'main.html' %}

{% block content %}

<h1>
    Projects
</h1>

<table>
    <thead>
        <tr>
            <!-- <td>ID</td> -->
            <td>Title</td>
            <td>Positive Vote</td>
            <td>Total Votes</td>
            <td>Created</td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </thead>

    <tbody>
        {% for project in projects %}
        <tr>
            <!-- <td>{{project.id}}</td> -->
            <td>{{project.title}}</td>
            <td> {{project.voteRatio}} % </td>
            <td> {{project.voteTotal}} </td>
            <td> {{project.created}} </td>
            <td><a href="{% url 'project' project.id %}"> View </a></td>
            <td><a href="{% url 'update-project' project.id%}">Edit</a></td>
            <td><a href="{% url 'delete-project' project.id%}">Delete</a></td>
        </tr>
        {% endfor %}
    </tbody>
</table>



{% endblock content %}